<div class="well">
  <div style="font-size:15px;">
<div>Total Question submitted :- <b><%= @questions.count %></b> of minimum 21</div>

<%if @current_user.track.eql? "qa"
 topic_list = {"Scripting" => 4, "Networking" => 4,"QA Concepts" => 8 ,"Linux QA" => 4}
  Question.qa_topics.each do |topic|
      count = 0
      @questions.each do |q|
        count = count +1 if q.qa_topic_list.include? topic.name
      end%>
     <%= raw "<div>#{topic.name} :- <b>#{count}</b> (min required:- #{topic_list[topic.name]})</div>"%>
  <%end%>


<%else
topic_list = {"Core Java" => 10, "JSP" => 3,"SQL" => 2 ,"Linux Dev" => 5}

  Question.dev_topics.each do |topic|
      count = 0
      @questions.each do |q|
        count = count +1 if q.dev_topic_list.include? topic.name
      end%>
      <%= raw "<div>#{topic.name} :- <b>#{count}</b> (min required:- #{topic_list[topic.name]})</div>"%>
  <%end%>

<%end%>
  </div>
  <marquee><div style="font-size: 20px;color:#0074CC">The more question you submit more are the chances of winning</div></marquee>
</div>